<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>MicroGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>DirectionalGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>SpatialGamepad</string>
		</dict>
	</array>
	<key>KeychainAccessGroupBase</key>
	<string>$(DEVELOPMENT_TEAM).dev.ohaiibuzzle.BaseiOSApp</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>baseapp</string>
	</array>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription - 2</key>
	<string>The guest app is requesting for this permission.</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<true/>
	<key>SBAppUsesLocalNotifications</key>
	<integer>1</integer>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>external-accessory</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>nearby-interaction</string>
		<string>bluetooth-central</string>
		<string>voip</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
